<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="blog/layout::head-fragment"></head>

<body class="inner-page blog-list-page">

<!-- header-section start -->
<div th:include="blog/header::header-fragment"></div>
<!-- header-section end -->


<!-- blog-section start -->
<section class="inner-page-section blog-list section-padding">
    <div class="container">
        <div class="row">

            <div th:replace="blog/blog-list::blog-list-fragment"></div>

            <div th:replace="blog/side::side-fragment"></div>

        </div>

    </div>
</section>
<!-- blog-section end -->

<div th:include="blog/footer::footer-fragment"></div>

<div th:include="blog/layout::js-fragment"></div>

</body>
</html>