<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="blog/layout::head-fragment"></head>

<body th:fragment="header-fragment">

<header class="header-section">

    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="menu-toggle"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="menu" class="navbar-nav ml-auto menu">
                    <li><a href="/">blog</a></li>
                    <li><a href="/link">Link</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <ul class="social-links ml-auto">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- banner-section start -->
<section class="single-page-banner">
    <div class="banner-content-area">
        <div class="container">
            <div class="banner-content">
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;" th:text="${titleName}"></font>
                    </font>
                </h4>
                <nav aria-label="breadcrumb" class="page-header-breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item" th:if="${blogPageResult!=null}"><a th:href="${subUrl}" th:text="${pageName}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:if="${blogPageResult!=null}" th:text="${'page  '+blogPageResult.currPage}"></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->


</body>

</html>