<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head-fragment">
    <!-- important meta tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site title -->
    <title>Udvas-blog-list</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/blog/images/fav.jpg}">
    <!-- site description and atuhor name -->
    <meta name="description" content="Udvas is personal HTML multipurpose portfolio template">
    <meta name="author" content="spellbit"/>
    <!-- font cdn links -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Hind:400,500}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/blog/css/font-awesome.min.css}">
    <!-- bootstrap css links -->
    <link rel="stylesheet" th:href="@{/blog/css/bootstrap.min.css}">
    <!-- animate css link -->
    <link rel="stylesheet" th:href="@{/blog/css/animate.min.css}">
    <!-- plugins css links -->
    <link rel="stylesheet" th:href="@{/blog/css/lightcase.css}">
    <link rel="stylesheet" th:href="@{/blog/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/blog/css/slick.css}">
    <!-- main style css link -->
    <link rel="stylesheet" th:href="@{/blog/css/style.css}">
    <!-- responsive css link -->
    <link rel="stylesheet" th:href="@{/blog/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/blog/css/custom.css}">
    <!-- sweetalert -->
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert.css}"/>

    <link rel="stylesheet" th:href="@{/admin/plugins/editormd/css/editormd.preview.css}"/>

    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body th:fragment="js-fragment">

<!-- jQuery library js link -->
<script th:src="@{/blog/js/jquery-3.3.1.min.js}"></script>
<!-- bootstrap js links -->
<script th:src="@{/blog/js/bootstrap.min.js}"></script>
<script th:src="@{/blog/js/bootstrap.bundle.min.js}"></script>
<!-- plugins js links -->
<script th:src="@{/blog/js/jquery.easing.min.js}"></script>
<script th:src="@{/blog/js/lightcase.js}"></script>
<script th:src="@{/blog/js/circle-progress.min.js}"></script>
<script th:src="@{/blog/js/swiper.min.js}"></script>
<script th:src="@{/blog/js/slick.min.js}"></script>
<script th:src="@{/blog/js/isotope.pkgd.min.js}"></script>
<!-- main js link -->
<script th:src="@{/blog/js/main.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>


</body>

</html>