<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/layout::head-fragment"></head>
<body>
<!-- header-section start -->
<div th:replace="blog/header::header-fragment"></div>
<!-- header-section end -->

<!-- banner-section start -->
<section class="inner-page-section section-padding" style="padding-top: 47px;">
    <div class="container">
        <div class="row">
            <div id="main-content" class="col-lg-12">
                <div class="main-content">
                    <div class="links-list">
                        <th:block th:unless="${#lists.isEmpty(favoriteLinks)}">
                            <div class="title">
                                <h3>友链</h3>
                            </div>
                            <div class="list">
                                <ul>
                                    <th:block th:each="favoriteLink : ${favoriteLinks}">
                                        <li><a th:href="@{${favoriteLink.linkUrl}}"
                                               th:text="${favoriteLink.linkName}">友链</a>
                                            -
                                            <th:block th:text="${favoriteLink.linkDescription}"></th:block>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </th:block>
                        <th:block th:unless="${#lists.isEmpty(recommendLinks)}">
                            <div class="title">
                                <h3>推荐网站</h3>
                            </div>
                            <div class="list">
                                <ul>
                                    <th:block th:each="recommendLink : ${recommendLinks}">
                                        <li><a th:href="@{${recommendLink.linkUrl}}" th:text="${recommendLink.linkName}">推荐网站</a>
                                            -
                                            <th:block th:text="${recommendLink.linkDescription}"></th:block>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </th:block>
                        <th:block th:unless="${#lists.isEmpty(personalLinks)}">
                            <div class="title">
                                <h3>个人链接</h3>
                            </div>
                            <div class="list">
                                <ul>
                                    <th:block th:each="personalLink : ${personalLinks}">
                                        <li><a th:href="@{${personalLink.linkUrl}}"
                                               th:text="${personalLink.linkName}">个人链接</a>
                                            -
                                            <th:block th:text="${personalLink.linkDescription}"></th:block>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer-section start -->
<div th:include="blog/footer::footer-fragment"></div>
<!-- footer-section end -->

<!-- scroll to top start -->
<div class="scroll-to-top">
		<span class="scroll-icon">
			<i class="fa fa-rocket" aria-hidden="true"></i>
		</span>
</div>
<!-- scroll to top end -->

<div th:include="blog/layout::js-fragment"></div>

</body>
</html>