<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="blog/layout::head-fragment"></head>

<body class="inner-page blog-single">


<!-- header-section start -->
<div th:replace="blog/header::header-fragment"></div>
<!-- header-section end -->

<!-- blog-section start -->
<section class="inner-page-section section-padding">
    <div class="container">
        <div class="row">
            <div id="main-content" class="col-lg-12">
                <div class="main-content">
                    <article class="entry-single shadow-item">
                        <div  class="entry-single-content">
                            <ul id="post-meta" class="post-meta">
                                <li>
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                    <!--th:href="@{'/category/'+${blog.blogCategoryName}}" th:text="${blog.blogCategoryName}"-->
                                    <a th:href="@{'/category/'+${blogDetailVO.blogCategoryName}}"
                                       th:if="${blogDetailVO.blogCategoryName!=null}">[[${blogDetailVO.blogCategoryName}]]</a>
                                </li>
                                <li>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <a th:text="${blogDetailVO.blogViews}+' Views'"></a>
                                </li>
                                <li><i class="fa fa-user-circle" aria-hidden="true"></i>
                                    Post by<a href="#" th:text="${configurations.get('yourName')}"></a>
                                </li>
                            </ul>
                            <h1 th:text="${blogDetailVO.blogTitle}"></h1>
                            <!--<div id="markdown-body" class=" markdown-body editormd-html-preview entry-single-content" th:text="${blogDetailVO.blogContent}"></div>-->
                            <div id="wordsView">
                                <textarea style="display:none;" name="editormd-markdown-doc" th:text="${blogDetailVO.blogContent}">这里写入md格式内容</textarea>
                            </div>
                            <div class="entry-footer">
                                <ul class="share-post">
                                    <li>SHare Post</li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </article>
                </div>
            </div>


            <div id="comments-part" class="inner-block comments-part shadow-item" th:if="${blogDetailVO.enableComment==0}">
                <h3 class="block-title" th:text="${blogDetailVO.commentCount+' Comments'}"></h3>

                <th:block th:if="${null != commentPageResult}">
                    <th:block th:each="comment,iterStat : ${commentPageResult.list}">
                        <ul id="comments" class="comments">
                            <li>
                                <div class="comment">
                                    <div class="c-content">
                                        <div class="c-content-top">
                                            <a th:text="${comment.commentator}">Katy W.Perry</a>
                                            <span th:text="${#dates.format(comment.commentCreateTime, 'yyyy-MM-dd ')}">25 December 2018</span>
                                            <span th:text="${#dates.format(comment.commentCreateTime, 'HH:mm:ss')}">06.48 pm</span>
                                        </div>
                                        <p th:text="${comment.commentBody}">A wonderful serenity has taken possession of my entire soul, like these sweet
                                            mornings of spring which I enjoy with my whole heart.</p>
                                    </div>
                                </div>
                                <ul th:if="${!#strings.isEmpty(comment.replyBody)}" id="reply">
                                    <li>
                                        <div class="comment">
                                            <div class="c-content">
                                                <div class="c-content-top">
                                                    <a th:text="${configurations.get('yourName')}">Priya Akter</a>
                                                    <span th:text="${#dates.format(comment.replyCreateTime, 'yyyy-MM-dd')}">25 December 2018</span>
                                                    <span th:text="${#dates.format(comment.replyCreateTime, 'HH:mm:ss')}">06.48 pm</span>
                                                    <i class="fa fa-reply-all __web-inspector-hide-shortcut__" aria-hidden="true"></i>
                                                </div>
                                                <p th:text="${comment.replyBody}">A wonderful serenity has taken possession of my entire soul, like
                                                    these
                                                    sweet
                                                    mornings of spring which I enjoy with my whole heart.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </th:block>
                </th:block>

                <nav class="d-pagination" aria-label="Page navigation example">
                    <th:block th:if="${null != commentPageResult}">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{${commentPageResult.currPage==1}?'##':'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage-1}+'#comments'}">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="page-item" th:if="${commentPageResult.currPage-3 >=1}">
                                <a class="page-link" href="#" th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage-3}+'#comments'}"
                                   th:text="${commentPageResult.currPage -3}">
                                    -3
                                </a>
                            </li>
                            <li class="page-item" th:if="${commentPageResult.currPage-2 >=1}">
                                <a class="page-link" href="#" th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage-2}+'#comments'}"
                                   th:text="${commentPageResult.currPage -2}">
                                    -2
                                </a>
                            </li>
                            <li class="page-item" th:if="${commentPageResult.currPage-1 >=1}">
                                <a class="page-link" href="#" th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage-1}}"
                                   th:text="${commentPageResult.currPage -1}">
                                    -1
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#" th:text="${commentPageResult.currPage}">
                                    0
                                </a>
                            </li>
                            <li class="page-item" th:if="${commentPageResult.currPage+1 <= commentPageResult.totalPage}">
                                <a class="page-link" th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage+1}+'#comments'}"
                                   th:text="${commentPageResult.currPage +1}">
                                    -1
                                </a>
                            </li>
                            <li class="page-item" th:if="${commentPageResult.currPage+2 <= commentPageResult.totalPage}">
                                <a class="page-link" th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage+2}+'#comments'}"
                                   th:text="${commentPageResult.currPage +2}">
                                    -1
                                </a>
                            </li>
                            <li class="page-item" th:if="${commentPageResult.currPage+3 <= commentPageResult.totalPage}">
                                <a class="page-link" th:href="@{'/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage+3}+'#comments'}"
                                   th:text="${commentPageResult.currPage +3}">
                                    -1
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{${commentPageResult.currPage==commentPageResult.totalPage}?'##' : '/blog/'+${blogDetailVO.blogId}+'?commentPage=' + ${commentPageResult.currPage+1}+'#comments'}">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </th:block>
                </nav>


            </div>

            <div class="inner-block comment-box shadow-item" th:if="${blogDetailVO.enableComment==0}">
                <h3 class="block-title">Write a Comment</h3>
                <div class="comment-form">
                    <div class="row">

                        <div class="col-lg-12 frm-grp">
                            <textarea id="commentBody" class="message" placeholder="Write Comment"
                                      name="commentBody"></textarea>
                        </div>

                        <div class="col-lg-3 col-md-6 frm-grp">
                            <input type="hidden" id="blogId" name="blogId" th:value="${blogDetailVO.blogId}">
                            <input id="commentator" class="name" type="text" name="commentator" placeholder="Name">
                        </div>

                        <div class="col-lg-4 col-md-6 frm-grp">
                            <input id="email" class="email" type="email" name="email" placeholder="Email">
                        </div>

                        <div class="col-lg-5 col-md-4 frm-grp">
                            <input id="verifyCode" class="email" type="text" name="verifyCode"
                                   placeholder="Verify Code">
                            <img id="verify-code-img" alt="单击图片刷新！" class="pointer" th:src="@{/common/kaptcha}"
                                 onclick="this.src='/common/kaptcha?d='+new Date()*1">
                        </div>

                        <div class="col-lg-12 frm-grp">
                            <input id="commentSubmit" class="cmn-btn sub-btn" type="button" name="submit"
                                   value="Submit">
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>
<!-- blog-section end -->

<div th:include="blog/footer::footer-fragment"></div>
<div th:include="blog/layout::js-fragment"></div>
<script th:src="@{/blog/js/comment.js}"></script>

<script th:src="@{/admin/plugins/editormd/lib/marked.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/prettify.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/raphael.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/underscore.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/flowchart.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/editormd.js}"></script>



<script type="text/javascript">
    $(document).ready(function() {
        var wordsView  = editormd.markdownToHTML("wordsView",{
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        })
    });
</script>
</body>
</html>